@use "../../global" as g;

.blockHeading {
  background-color: #ffe200;
  overflow: hidden;

  &__inner {
    position: relative;
    padding: 65px 0 51px;
    @include g.mq(sp) {
      padding: 90px 0 90px;
    }

    &--paddingBLarge {
      @extend .blockHeading__inner;
      @include g.mq(sp) {
        padding: 73px 0 101px;
      }
    }
  }

  &__heading {
    @include g.fz(32, 26, 700);
    color: #000;
    text-align: center;
    position: relative;
    z-index: 3;
  }

  &__subText {
    @include g.fz(28, 26, 500);
    color: #000;
    font-family: 'Montserrat';
    text-align: center;
    margin-top: 28px;
    position: relative;
    z-index: 3;
  }

  &__img {
    width: 100%;
    position: absolute;

    &--mount {
      @extend .blockHeading__img;
      max-width: 433px;
      left: 0;
      bottom: -4px;
      @include g.mq(tab) {
        max-width: 300px;
      }
      @include g.mq(sp) {
        left: -50px;
      }
      @include g.mq(xsp) {
        max-width: 277px;
        left: -93px;
      }
    }

    &--bird {
      @extend .blockHeading__img;
      max-width: 33px;
      left: 70px;
      bottom: 109px;
      @include g.mq(tab) {
        max-width: 28px;
        left: 70px;
        bottom: 92px;
      }
      @include g.mq(sp) {
        max-width: 25px;
        left: 21px;
        bottom: 90px;
      }
    }

    &--hotel {
      @extend .blockHeading__img;
      max-width: 195px;
      right: 73px;
      bottom: -5px;
      @include g.mq(tab) {
        max-width: 164px;
        right: 50px;
      }
      @include g.mq(sp) {
        max-width: 171px;
        right: 10px;
      }
      @include g.mq(xsp) {
        max-width: 136px;
      }
    }

    &--cloud {
      @extend .blockHeading__img;
      max-width: 353px;
      top: 33px;
      right: 0;
      @include g.mq(tab) {
        max-width: 264px;
        top: 65px;
        right: 0;
      }
      @include g.mq(sp){
        max-width: 262px;
        top: 100px;
        right: -69px;
      }
      @include g.mq(xsp) {
       max-width: 253px;
       top: 113px;
       right: -186px;
      }
    }

    &--bad {
      @extend .blockHeading__img;
      max-width: 310px;
      bottom: 0;
      left: 0;
      @media screen and (max-width: 1100px) {
        max-width: 277px;
        left: 10px;
      }
      @include g.mq(sp) {
        max-width: 222px;
      }
      @include g.mq(xsp) {
        max-width: 159px;
      }
    }

    &--good {
      @extend .blockHeading__img;
      max-width: 310px;
      bottom: 0;
      right: 0;
      @media screen and (max-width: 1100px) {
        max-width: 277px;
        right: 10px;
      }
      @include g.mq(sp) {
        max-width: 222px;
      }
      @include g.mq(xsp) {
        max-width: 159px;
      }
    }
  }

}