@use "../../global" as g;

.linkBox {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  background-color: #fff;
  padding: 70px 20px 50px;
  @include g.mq(sp) {
    gap: 30px;
  }

  &--bgYellow {
    background-color: #f6f3e0;
  }

  &__text {
    @include g.fz(32, 35, 700);
    @include g.ls(25);
    color: #000;
    text-align: center;
    @include g.mq(sp) {
      font-size: 28px;
      line-height: 1.6;
    }
  }

  &__button {
    //
  }
}