@use "../../global" as g;

.noneStopSwiper {
  overflow: hidden;
  
  .swiper-wrapper {
    transition-timing-function: linear;
  }

  &__container {
    //
  }

  &__slideBox {
    //
  }

  &__slideBoxTextWrap {
    padding: 5px 6px;
  }

  &__slideBoxHeading {
    font-size: 13px;
    font-weight: bold;
    line-height: 1.61;
    @include g.mq(sp) {
      font-size: 12px;
      line-height: 1.5;
    }
  }

  &__slideBoxText {
    font-size: 13px;
    line-height: 1.61;
    @include g.mq(sp) {
      font-size: 12px;
      line-height: 1.5;
      margin-top: 0.25em;
    }
  }
}