@use "../../global" as g;

.timeline {
  position: relative;
  padding: 26.5px 0 53.5px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-top: 27px;
  @include g.mq(sp) {
    margin-top: 20px;
  }

  &--border {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 3px;
      height: 100%;
      background-color: g.$orange;
      @include g.mq(sp) {
        left: 10px;
        transform: unset;
      }
    }
  }

  &__block {
    display: flex;
    align-items: flex-start;

    &:nth-child(odd) {
      flex-direction: row-reverse;
      @include g.mq(sp) {
        flex-direction: row;
      }

      .timeline__content {
        &::before {
          content: "";
          display: inline-block;
          border: 11px solid transparent;
          border-right: 11px solid g.$yellowlight;
          position: absolute;
          top: 16.9px;
          left: -22px;
        }
      }
    }

    &:nth-child(even) {
      .timeline__content {
        &::before {
          content: "";
          display: inline-block;
          border: 11px solid transparent;
          border-left: 11px solid g.$yellowlight;
          position: absolute;
          top: 16.9px;
          right: -22px;
          @include g.mq(sp) {
            border-left-color: transparent;
            border-right: 11px solid g.$yellowlight;
            position: absolute;
            right: unset;
            left: -22px;
          }
        }
      }

      .timeline__contentDate {
        left: 120%;
        text-align: left;
        @include g.mq(sp) {
          top: 0;
          left: 0;
        }
      }
    }

    &.js_scroll {
      &:nth-child(odd) {
        .timeline__content {
          opacity: 0;
          transform: translateX(30px);
        }
      }

      &:nth-child(even) {
        .timeline__content {
          opacity: 0;
          transform: translateX(-30px);
          @include g.mq(sp) {
            transform: translateX(30px);
          }
        }
      }

      .timeline__round {
        opacity: 0;
        -webkit-transform: scale(0.3);
        transform: scale(0.3);
      }
    }

    &.fadeIn {
      &:nth-child(odd) {
        .timeline__content {
          opacity: 1;
          transform: translateX(0px);
          animation: bounce-right .6s;
        }
      }

      &:nth-child(even) {
        .timeline__content {
          opacity: 1;
          transform: translateX(0px);
          animation: bounce-left .6s;
          @include g.mq(sp) {
            animation: bounce-right .6s;
          }
        }
      }

      .timeline__round {
        animation: bounce .6s forwards;
        opacity: 1;
        transform: scale(1);
      }
    }
  }

  &__round {
    width: 16.5px;
    height: 16.5px;
    border-radius: 17px;
    background-color: g.$orange;
    margin: 20px calc(5% - 8.25px) 0;
    @include g.mq(sp) {
      margin: 20px 24px 0 3.2px;
      order: 1;
    }
  }

  &__content {
    width: 45%;
    background-color: g.$yellowlight;
    border-radius: 16px;
    position: relative;
    padding: 16px 25px;
    @include g.mq(sp) {
      display: flex;
      flex-direction: column;
      gap: 16px;
      width: auto;
      flex: 1;
      order: 2;
    }
  }

  &__contentGrid {
    display: grid;
    grid-template-columns: 42.8% 50%;
    gap: 0 7.2%;
    @include g.mq(xsp) {
      grid-template-columns: 1fr;
      gap: 16px;
    }
  }

  &__contentImgBox {
    display: flex;
    flex-direction: column;
  }

  &__contentImg {
    width: 100%;
  }

  &__contentText {
    @include g.fz(16, 24);
    color: g.$black;
    @include g.mq(sp) {
      grid-row: 1/2;
    }
  }

  &__contentDate {
    position: absolute;
    width: 100%;
    top: 21.5px;
    left: -120%;
    text-align: right;
    @include g.fz(18, 13);
    @include g.ls(100);
    font-family: 'Montserrat';
    @include g.mq(sp) {
      position: static;
      top: 0;
      left: 0;
      font-size: 16px;
      color: g.$gray;
      text-align: left;
    }
  }
}