@use "../global" as g;

.container {
  margin-top: 56px;
  @include g.mq(sp) {
    margin-top: 45px;
  }

  &--mTopNone {
    margin-top: 0;
  }

  &--paddingWide {
    padding-top: 96px;
    padding-bottom: 100px;
    @include g.mq(sp) {
      padding-top: 80px;
    }
  }

  &--paddingWideSecondary {
    padding-top: 90px;
    padding-bottom: 155px;
    overflow: hidden;
    @include g.mq(sp) {
      padding-top: 45px;
      padding-bottom: 110px;
    }
  }

  &--pTopNone {
    padding-top: 0;
  }

  &--pBottomSmall {
    padding-bottom: 45px;
  }

  &--pBottomLarge {
    @include g.mq(sp) {
      padding-bottom: 80px;
    }
  }
}

.contents {
  max-width: 740px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;

  &--medium {
    @extend .contents;
    max-width: 940px
  }

  &--large {
    @extend .contents;
    max-width: 1140px;
  }
}